:root {
  --primary: #ff6f3f;
  --primary-dark: #e65a2e;

  --text-dark: #1f2937;
  --text-light: #6b7280;

  --bg-light: #f4f6f8;
  --white: #ffffff;

  --border: #e5e7eb;

  --radius: 12px;
  --radius-lg: 20px;

  --shadow-sm: 0 4px 10px rgba(0,0,0,0.08);
  --shadow-lg: 0 12px 32px rgba(0,0,0,0.15);
}
