/* ================= HEADER ================= */
.app-header {
  position: fixed;
  top: 24px;
  left: 16px;
  z-index: 5000;

  display: flex;
  align-items: center;
  /* gap: 14px; */

  background: rgba(255, 255, 255, 0.95);
  padding: 10px 10px;
  border-radius: 14px;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/* ================= MENU ICON ================= */
.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.menu-icon span {
  width: 25px;
  height: 2.5px;
  background: #333;
  border-radius: 2px;
}

/* ================= BRAND ================= */
.brand {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.brand-logo {
  font-size: 20px;
}

.brand-name {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #1f2937;
}

/* ================= DROPDOWN ================= */
.menu-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;

  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  min-width: 160px;
}

.menu-dropdown div {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.menu-dropdown div:hover {
  background: #f4f8ff;
}
